@{
    var data = ViewBag.Data as List<AllCodeDTO>;

}
<html lang="en">

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Quản lý dữ liệu chung</h1>

        <form asp-action="HandleData" method="post" asp-controller="AllCode" id="entryForm" class="mb-5">

            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type" required>
            </div>

            <div class="mb-3">
                <label for="content_title" class="form-label">Content Title</label>
                <input type="text" class="form-control" id="content_title" name="content_title" required>
            </div>

            <div class="mb-3">
                <label for="content_detail" class="form-label">Content Detail</label>
                <textarea class="form-control" id="content_detail" name="content_detail" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <input type="text" class="form-control" id="code" name="code" required>
            </div>

            <button class="btn btn-primary">Add</button>
        </form>
        <form asp-action="UpdateData" method="post" asp-controller="AllCode" id="entryForm" class="mb-5">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input id="text" class="form-control" id="id" name="id">
            </div>

            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type" required>
            </div>

            <div class="mb-3">
                <label for="content_title" class="form-label">Content Title</label>
                <input type="text" class="form-control" id="content_title" name="content_title" required>
            </div>

            <div class="mb-3">
                <label for="content_detail" class="form-label">Content Detail</label>
                <textarea class="form-control" id="content_detail" name="content_detail" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <input type="text" class="form-control" id="code" name="code" required>
            </div>

            <button class="btn btn-warning">Update</button>
        </form>
        <form asp-action="DeleteData" method="post" asp-controller="AllCode" id="entryForm" class="mb-5">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input id="text" class="form-control" id="id" name="id">
            </div>
            <button class="btn btn-danger">Delete</button>
        </form>

        <h2 class="text-center mb-4">Dữ liệu chung</h2>
        <table class="table table-bordered" id="entriesTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Content Title</th>
                    <th>Content Detail</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.type</td>
                        <td>@item.content_title</td>
                        <td>@item.content_detail</td>
                        <td>@item.code</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="script.js"></script>
</body>

</html>
