<!-- Views/Blog/Blog.cshtml -->
@model IEnumerable<webASP.dto.BlogDTO>

<div class="page-blog">
    <div class="overlay-color">
        <div class="container page-header">
            <h1>thuê xe máy</h1>
            <div class="underlined-h1"></div>
            <p>
                <span><i class="bi bi-house-door-fill"></i></span>
                <span class="text-home">Trang chủ</span>
                <span><i class="bi bi-chevron-double-right"></i> Thuê xe máy</span>
            </p>
        </div>
    </div>
    <div class="page-content-inner">
        <div class="container">
            <div class="row">
                @if (Model != null && Model.Any())
                {
                    foreach (var blog in Model)
                    {
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="@blog.content_HTML" class="post-thumbnail">
                                    <img width="300" height="200" src="@blog.content_MarkDown" class="card-img-top" alt="">
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href="@blog.content_HTML">@blog.title</a>
                                    </h6>
                                    <p class="card-text">
                                        @blog.description
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No posts available.</p>
                }
            </div>
        </div>
    </div>
</div>